html
    head
        title Webpack Project Template
        link(rel="stylesheet", href="")
    body
        include ./includes/header
        //- include ./includes/animations
        script(type="text/javascript", src="bundle.js")
